@import "/node_modules/bootstrap/scss/bootstrap";

.pc {
  font-family: Bahnschrift;
}

.cookie {
  background-color: #353b4a;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  align-content: stretch;
  width: 100%;
  align-self: stretch;
}

.cookiechck {
  padding-left: 5%;
  color: #e1e1e4;
  cursor: pointer;
  padding-right: 15%;
  width: 10%;
}

.cookietxt {
  padding-left: 15%;
  color: #e1e1e4;
  cursor: pointer;
  padding-right: 5%;
  width: 90%;
}

input[class="cooky"]:checked + label .cookie {
  display: none;
}

input[class="cooky"] + label .cookie {

}

input[class="cooky"] {
  display: none;
}

.aligncenter {
  justify-content: center;
}

/* konec cookies, začátek navbaru */

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: darkgray;
}

.error {
  font-style: italic;
  text-align: center;
}

.l {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.unit {
  padding: 25px;
  color: black;

}

.m {
  font-size: large;
  font-weight: bolder;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-grow: 3;
  text-align: center;
  padding-left: 30px;
}

.r {
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 25px;
  flex-grow: 2;
  text-align: right;
}

a {
  text-decoration: none;
  color: inherit;
}

/* konec navbaru, content ahead */

.center {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-self: stretch;
  height: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padd5 {
  padding: 5px;
}

.content {
  display: flex;
  width: 80%;
  flex-direction: column;
  background-color: whitesmoke;
  padding: 7px;
  height: 100%;
}

.smolcontent {
  display: flex;
  width: 400px;
  flex-direction: column;
}

.mainpic {
  width: 100%;
  height: auto;
}

.hometxt {
  background-color: lightgrey;
  border-radius: 5px;
}

.hthead {
  font-weight: bold;
  text-align: left;
  padding-bottom: 15px;
  padding-top: 10px;
}

.htheadbutmid {
  font-weight: bold;
  text-align: center;
  padding-bottom: 15px;
  padding-top: 10px;
}

.httxt {
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

.fittwo {
  display: flex;
  justify-content: center;
}

.two {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  width: 40%;
}

.twomap {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 30px;
  width: 60%;
}

.htheadonas {
  font-weight: bold;
  text-align: left;
  padding-left: 25px;
  padding-bottom: 15px;
  padding-top: 20px;
  font-size: larger;
}

.undertwohead {
  padding-bottom: 10px;
  font-size: large;
}

.fittwohor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.undertwotxthead {
  font-weight: bold;
  padding-top: 10px;
}

.undertwotxt {
  text-align: left;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}

.undertwopic {
  flex-grow: 1;
  flex-shrink: 1;
}

.thumb:hover {
  cursor: pointer;
}

.err {
  font-family: "Courier New";
}

.pddrite {
  padding-right: 20px;
  flex-grow: 1;
  flex-shrink: 1;
}

.undertwopictur {
  flex-grow: 2;
}

.cntrbtch {
  justify-content: center;
}

/* mobil verze below */

@media screen and (min-width: 721px) {
  .foun {
    display: none;
  }

  .two {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    width: 100%;
  }

  .twomap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    width: 100%;
  }

  .undertwotxt {
    text-align: left;
    flex-grow: 1;
    flex-shrink: 0;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
  }

  .undertwopic {
    alignment: right;
    flex-grow: 2;
    flex-shrink: 1;

  }
}

.fittwovert {
  display: flex;
  flex-direction: column;
}

.foun {
  font-family: Bahnschrift;
}

.cookief {
  background-color: #353b4a;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: center;
}

.padd {
  padding-right: 5px;
  padding-left: 5px;
}

fitting {
  padding-left: 10px;
  padding-right: 10px;
}

.mg {
  font-size: large;
  font-weight: bolder;
  padding-top: 25px;
  padding-bottom: 25px;
  flex-grow: 3;
  text-align: center;
  padding-left: 20px;
}

.fittwoverttwo {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  margin: 20px;
  width: 45%;
}

.undertwopicturs {
  alignment: right;
  flex-grow: 2;
  flex-shrink: 1;
  width: 100%;
  height: 75%;

}

.undertwoheadc {
  padding-bottom: 10px;
  font-size: large;
  text-align: center;
}

.fittwoverttwof {
  display: flex;
  flex-direction: column;
  border: black solid 2px;
  margin: 20px;
  width: 90%;
}

.teeninity {
  font-size: 1px;
}

.underline {
  text-decoration: underline solid;
}

.nounderline {
  text-decoration: none;
}

.link {
  color: midnightblue;
}